*{
    padding: 0%;
    margin: 0%;
}
.main{
    position: absolute;
    top:30%;
    left: 30%;
    width:500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 3%;
    background-color: rgb(211, 206, 206);
}

.box1{
    margin:10px;
}

button{
    background-color: black;
    border-radius: 10%;
    color: white;
    padding: 4px;
    margin-top: 10px;
}

h1{
    text-align: center;
}